<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>PassworK</h1>
    <p class="lead">A little extra worK on your new Password ;)</p>
    <p class="lead">Hash( password + website ) → yOuRnEwPa5sw0rD</p>
    <a href="#thing-form">
      <img src="assets/images/apple-touch-icon-128x128.png" alt="PassworK">
    </a>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">How it works:</h1>
    </div>
  </div>

  <form class="thing-form" id="thing-form">
    <label>Combine your common private passphrase...</label>
    <p class="input-group">
      <input type="password" class="form-control" placeholder="The password pattern you usually use" ng-model="privateInfo">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Show</button>
      </span>
    </p>
    <label>With the website info that varies...</label>
    <p class="input-group">
      <input type="password" class="form-control" placeholder="Some text for the website" ng-model="siteInfo">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Show</button>
      </span>
    </p>
    <label>To generate your new password :)</label>
    <p class="input-group">
      <input type="text" class="form-control" readonly="readonly" value="{{ privateInfo + siteInfo | brainAddress | substring:1:17 }}" ng-click="onTextClick($event)">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Copy</button>
      </span>
    </p>
    <label>Try again to make sure you get the same result.</label>
    <p>
      Feeling confused? Click here to find out more.
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
    <p>Inspired by
      <a href="https://brainwallet.org/">Brainwallet</a> |
      <a href="https://twitter.com/imcoddy">@imcoddy</a> |
      <a href="https://github.com/imcoddy/passwork/issues?state=open">Issues</a></p>
  </div>
</footer>