<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>PassworK</h1>
    <p class="lead">A little extra worK over your Password ;)</p>
    <p class="lead">Hash( password + website ) → yOuRnEwPa5sw0rD</p>
    <a href="#thing-form">
      <img src="assets/images/apple-touch-icon-128x128.png" alt="PassworK">
      <p>
        Try It Now.
      </p>
    </a>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">How it works:</h1>
    </div>
  </div>

  <form class="thing-form" id="thing-form">
    <label>Combine your common passphrase...</label>
    <p class="input-group">
      <input type="{{ privateInfoType }}" class="form-control" placeholder="Password you prefer to use" ng-model="privateInfo" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0 } }">
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="togglePrivateInfo()">Show</button>
      </span>
    </p>
    <label>With the website info that varies...</label>
    <p class="input-group">
      <input type="{{ siteInfoType }}" class="form-control" placeholder="Some text for the website" ng-model="siteInfo">
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="toggleSiteInfo()">Show</button>
      </span>
    </p>
    <label>To generate your new password :)</label>
    <p class="input-group">
      <input type="text" class="form-control" readonly="readonly" value="{{ privateInfo + siteInfo | brainAddress | substring:2:18 }}" ng-click="onTextClick($event)">
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="copyPassword()">Copy</button>
      </span>
    </p>
    <label>Try again to see if you get the same result.</label>
    <p>
      Feeling confused? Click <a ng-href="/about">here</a> to find out more.
    </p>
  </form>
</div>